#html, body {height:100%;}

#background
    {
        background-image: url('../img/zombie.jpg');
        background-repeat: no-repeat;
        background-size:100%;
        bottom: 0;
        color: black;
        left: 0;
        overflow: auto;
        padding: 3em;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        background-size: cover;
    }

#geral 
    { 
        margin: 0 auto;
        max-width: 45%;
        padding: 70px 0px;
        background-color: rgba(0,0,0,0.5);
    }